* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

nav {
  display: flex;
  flex-direction: column;
  margin: 2rem 10rem 5rem 0;
}

.todo-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 4rem;
}

.task-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
}
