* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  display: flex;
  width: 100%;
  height: 56px;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
}

#hamburger-menu {
  position: fixed;
  left: 16px;
}

.title {
  width: 100%;
  font-size: 16px;
  line-height: 2;
  color: white;
}

.user__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 1;
}

.username {
  display: none;
  font-size: 0.5rem;
  font-family: "SF Pro Display";
  font-size: 32px;
  line-height: 1.3;
}

.user__container > img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: fixed;
  right: 16px;
}

.task-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.task-input > input,
.newtask-btn {
  width: 80%;
  height: 32px;
}

.todoList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  color: white;
  width: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.dashboard {
  position: fixed;
  top: 50%;
}

.todo-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 128px;
  background: linear-gradient(to bottom, #b87128 0%, #d73788 88%);
}

.todo-card > p {
  padding: 1rem;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

.task-details {
  display: none;
  flex-direction: column;
  width: 100%;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: white;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
