.dashboard-body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./img/london-background.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.dashboard-wrapper {
  width: 100vw;
  height: 100vh;
}

.container__main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.container__main > .title,
h1,
h2 {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 2rem;
  color: #000000;
}

.dashboard-link {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  margin-top: 1rem;
}
.dashboard-link:hover {
  color: #000000;
  background-color: black;
}

@media (min-width: 999px) {
  .dashboard-body {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("./img/london-background-lg.jpg");
    background-size: cover;
  }
}
