.form-title-text,
.form-description-text,
.form-completed-checkbox,
.form-priority-dropdown,
label {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.taskGoBackLink,
label {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  padding: 1rem;
}
